/*  your css code here. If applicable */
.card{
	width:300px;
	padding:10px;
	box-shadow:4px 12px;
}
img{
	width:100%;
	height:auto;
}
button{
	padding:10px 24px;
	color:white;
	background-color:blue;
	border-radius:6px;
}